.header{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;
}
body{
    background-color: #787878;
}

.h1{
    font-family: Impact, Tahoma, sans-serif;
    color: #00FF4F;
}

.cont-principal{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}
.h2-forms{
    font-family: fantasy;
}
.footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.error {
    color: red;
}
.p-foot{
    font-family: "Dubai Medium", cursive;
}